---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">私について</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			ここは、何者でもない私が何かを残すための場所<br />
			その行為におよそ意味はなく、よって何か期待するべくもない。
		</p>
		<p>
			しかし、そんな私でも、私自身が好きなものを好きに語って、<br />
			それを読んだ他の誰かが、今後の人生に少しでも作用すれば、<br />
			それはきっと、とても喜ばしいことなんだと思う。
		</p>
	</div>
</PageLayout>
