---
import { Icon } from "astro-icon/components";
import NoteIcon from "./icons/NoteIcon.astro";

interface SocialLink {
	friendlyName: string;
	link: string;
	name: string;
	isWebmention?: boolean;
}

// ソーシャルリンクの設定
const socialLinks: SocialLink[] = [
	{
		friendlyName: "github",
		link: "https://github.com/tkwsnb",
		name: "mdi:github",
		isWebmention: true, // Webmention認証用
	},
	{
		friendlyName: "twitter",
		link: "https://x.com/tkwsnb",
		name: "mdi:twitter",
	},
	{
		friendlyName: "note",
		link: "https://note.com/shinobu__tt",
		name: "mdi:alpha-n-box",
	},
];
---

<div class="flex flex-wrap items-end gap-x-2">
	<ul class="flex flex-1 items-center gap-x-2 sm:flex-initial">
		{
			socialLinks.map(({ friendlyName, isWebmention, link, name }) => (
				<li class="flex">
					<a
						class="hover:text-link inline-block"
						href={link}
						rel={`noreferrer ${isWebmention ? "me authn" : ""}`}
						target="_blank"
						aria-label={`${friendlyName}のプロフィール`}
					>
						{friendlyName === "note" ? (
							<NoteIcon class="h-8 w-8" />
						) : (
							<Icon aria-hidden="true" class="h-8 w-8" focusable="false" name={name} />
						)}
						<span class="sr-only">{friendlyName}</span>
					</a>
				</li>
			))
		}
	</ul>
</div>
